@import url(../css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root{
    --branco: #ffffff;
    --preto-titulo: #4C545C;
    --cinza-texto: #9EABB2;
    --verde: #26BBA4;
    --roxo: #6174FF;

    --border-radius: 28px;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url('../imagens/back.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.cabecalho{
    text-align: center;
    margin-top: 7em;
}

.cabecalho__titulo{
    color: var(--preto-titulo);
    font-size: 2em;
    font-weight: 600;
    padding: 2.5em 1.3em 1em;
}

.cabecalho__texto{
    color: var(--cinza-texto);
    padding-inline: 1em;
    padding-bottom: 3em;
}

.cabecalho__botoes{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.btn{
    border-radius: var(--border-radius);
    width: 80%;
    padding: 1em;
    letter-spacing: 0.5px;
    font-size: 18px;
    color: var(--branco);    
    font-weight: 600;    
    border: none;
}

.ios{
    background: var(--verde);

    box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}

.mac{
    background: var(--roxo);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0988035), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}
