@import url(../css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root{
    --branco: #ffffff;
    --preto-titulo: #4C545C;
    --cinza-texto: #9EABB2;
    --verde: #26BBA4;
    --roxo: #6174FF;

    --border-radius: 28px;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
}

.cabecalho{
    text-align: center;
    margin-top: 7em;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: .5;
}

.titulo{
    color: var(--preto-titulo);
    font-size: 2em;
    font-weight: 600;
    padding: 2.5em 1em 1em;
    text-align: center;
}

.texto{
    color: var(--cinza-texto);
    padding-inline: 1.5em;
    padding-bottom: 3em;
    text-align: center;
}

.cabecalho__botoes{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.btn{
    border-radius: var(--border-radius);
    width: 80%;
    padding: 1em;
    letter-spacing: 0.5px;
    font-size: 18px;
    color: var(--branco);    
    font-weight: 600;    
    border: none;
}

.ios{
    background: var(--verde);

    box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}

.mac{
    background: var(--roxo);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0988035), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}

.info, .access{
    text-align: center;
}

.more-info-titulo, .list-titulo{
    padding-block: 1.5em .5em;
    font-size: 1.6em;
}

.access-titulo{
    padding-block: 1.5em .5em;
}

.access-texto{
    padding-bottom: 5.5em;
}

.container__more-info img, .desktop{
    width: 90%;
}

.companies{
    display: flex;
    justify-content: center;
    padding-top: 4em;
}

.so{
    padding-bottom: 10em;
}

.so-titulo{
    padding-top: 5em;
}

.rodape{
    
    
}

.rodape::after{
    content: '';
    background: var(--cinza-texto);
    opacity: .1;
    mix-blend-mode: normal;
}