@import url(../css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root{
    --branco: #ffffff;
    --preto-titulo: #4C545C;
    --cinza-texto: #9EABB2;
    --verde: #26BBA4;
    --roxo: #6174FF;
    --back-rodape: #e4e4e4;

    --border-radius: 28px;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
}

.cabecalho{
    text-align: center;
    margin-top: 7em;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: .5;
}

.titulo{
    color: var(--preto-titulo);
    font-size: 2em;
    font-weight: 600;
    padding: 2.5em 1em 1em;
    text-align: center;
}

.texto{
    color: var(--cinza-texto);
    padding-inline: 1.5em;
    padding-bottom: 3em;
    text-align: center;
}

.cabecalho__botoes{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.btn{
    border-radius: var(--border-radius);
    width: 80%;
    padding: 1em;
    letter-spacing: 0.5px;
    font-size: 18px;
    color: var(--branco);    
    font-weight: 600;    
    border: none;
}

.ios{
    background: var(--verde);

    box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}

.mac{
    background: var(--roxo);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0988035), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}

.info, .access{
    text-align: center;
}

.access-titulo{
    color: var(--preto-titulo);
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 1em;
}

.more-info-titulo, .list-titulo{
    padding-block: 1.5em .5em;
    font-size: 1.6em;
}

.access-texto{
    padding-bottom: 5.5em;
}

.container__more-info img, .desktop{
    width: 90%;
}

.companies{
    display: flex;
    justify-content: center;
    padding-top: 4em;
}

.so{
    padding-bottom: 10em;
}

.so-titulo{
    padding-top: 5em;
}

.logo-horizontal{
    display: none;
}

.rodape{
    background: var(--back-rodape);
    mix-blend-mode: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 3.2em;
    gap: 3em;
    text-align: center;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.link__items{
    color: var(--preto-titulo);
}

.social-media{
    display: flex;
    gap: 2.5em;
}


@media screen and (min-width: 768px){
    .titulo{
        font-size: 3em;
    }

    .texto{
        font-size: 2em;
    }

    .cabecalho__botoes{
        gap: 2em;
    }

    .btn{
        font-size: 25px;
    }
}


@media screen and (min-width: 1220px){
    .background{
        height: 50%;
    }

    .texto-desktop{
        padding-inline: 17em;
        font-size: 22px;
    }

    .cabecalho__botoes{
        flex-direction: row;
        justify-content: center;
    }

    .btn{
        width: 18%;
        border-radius: 45px;
    }

    .info-titulo-desktop{
        font-size: 36px;
    }

    .info-texto-desktop{
        font-size: 20px;
        padding-inline: 17em;
    }

    .container__more-info{
        display: flex;
    }

    .container__more-info img{
        width: 70%;
    }

    .container__more-info-texto{
        padding-right: 16em;
        padding-left: 6em;
        
    }

    .more-info-titulo{
        font-size: 1.5em;
        text-align: start;
        padding-left: 1em;
    }

    .more-info-texto{
        font-size: 1em;
        text-align: start;
    }

    .desktop{
        width: 80%;
    }

    .access-titulo, .so-titulo{
        font-size: 36px;
    }

    .access-list{
        display: flex;
    }

    .access-texto{
        font-size: 1.2em;
    }


    .list-titulo{
        font-size: 1.5em;
    }

    .list-texto{
        font-size: 1em;
        padding-inline: 6em;
        letter-spacing: 0.12px;
        line-height: 30px;
    }

    .logo-vertical{
        display: none;
    }

    .logo-horizontal{
        display: block;
        padding-top: 4em;
    }

    .so-texto{
        font-size: 1.2em;
        padding-inline: 20em;
    }

    .rodape{
        flex-direction: row;
        justify-content: space-around;
    }

    .links{
        display: grid;
        grid-template: "item1 item3 item5",
                        "item2 item4";
        grid-template-columns: 6em 8em 8em;
    }

    .ios:hover{
      background: #49d4c0;
    }

    .mac:hover{
        background: #7b8bff;
    }

    .link__items:hover, .link__items:active{
        color: var(--verde);
    }

    path:hover{
        fill: var(--verde);
    }
}
